  .appInput {
    &ErrorText {
      margin-top: 5px;
    }
  }
  .input {
    padding: 8px 12px;
    height: 40px;
    width: 100%;
    border-radius: 6px;
    color: var(--color-black);
    border: 1px solid #CBD5E1;
    outline: none;
  }

