.header {
    padding: 10px 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    &Buttons {
        display: flex;
        align-items: center;
        gap: 8px;
        button {
            width: max-content;
        }
    }
}